<div class="intro" id="top">
	<img src="assets/images/{{image}}" class="img-responsive">
	<div class="jumbotron-wrap">
		<div class="container">
		    <div class="jumbotron">
		      	{{#block "main"}}{{{contents}}}{{/block}}
				<p><a class="btn btn-primary btn-lg" href="#pedalones" role="button"></a></p>
			</div>
		</div>
	</div>
</div>