<div class="intro" id="home">
	<div class="text-center">
		<img src="assets/images/{{image}}" class="img-responsive">
	</div>
	<div class="jumbotron-wrap">
		<div class="container">
		    <div class="jumbotron">
		      	{{#block "main"}}{{{contents}}}{{/block}}
				<div class="scroll-down">
					<a href="#pedalones" role="button">
						<span class="glyphicon glyphicon-menu-down"></span><br>
						<span style="position:relative;top:-4px" class="glyphicon glyphicon-menu-down"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>