<div class="intro" id="home">
	<img src="assets/images/{{image}}" class="img-responsive">
	<div class="jumbotron-wrap">
		<div class="container">
		    <div class="jumbotron">
		      	{{#block "main"}}{{{contents}}}{{/block}}
				<div class="scroll-down"><a href="#pedalones" role="button"><span class="fa fa-angle-double-down fa-2x"></span></a></div>
			</div>
		</div>
	</div>
</div>