<div class="section pedalones" id="{{this.link}}">
    <div class="container">
        <div class="row">
            <div class="col col-xs-6">
                <div class="image-area">
                    <img src="assets/images/{{image}}" class="img-responsive">
                </div>
            </div>
            <div class="col col-xs-6">
                <div class="contents-area pedalones-bg">
                    {{#block "main"}}{{{contents}}}{{/block}}
                </div>
            </div>
        </div>
    </div>
</div>