<div class="container-fluid pedalones" id="{{this.path}}">
    <div class="row">
        <div class="col col-xs-6">
            <div class="content-area">
                <img src="assets/images/{{image}}" class="img-responsive">
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="image-area">
                {{#block "main"}}{{{contents}}}{{/block}}
            </div>
        </div>
    </div>
</div>