<div class="container-fluid story">
    <div class="row">
        <div class="col col-xs-6">
            <div class="content-area">
                {{#block "main"}}{{{contents}}}{{/block}}
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="image-area">
                {{#block "image"}}{{{contents}}}{{/block}}
            </div>
        </div>
    </div>
</div>