.navbar-header {
	min-width:50%;
	
	.navbar-brand {
		width:100%;
		display:block;
		background-image:url(images/dpavelescu_logo.png);
		background-repeat:no-repeat;
		background-size: auto 67%;
		background-position:0 50%;
	}
}

.intro {
	position:relative;
	background: $brand-info;

	.jumbotron-wrap {
		position:absolute;
		width:100%;
		left:0;
		bottom:0;
	}
}

.section {
	padding-top: 40px;
	padding-bottom: 40px;

	&.pedalones {
		background: $brand-info;
	}

	&.story {
		background: $brand-primary;

		img {
			margin-top: 80px;
		}
	}

	&.contact {
		background: $brand-success;
		padding-bottom: 0;

		.footer {
			background: $gray-light;
			margin-top: 40px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}

.collapse-container {
	background: $brand-warning;
}